.tile {
  user-select: none;
  background-color: blue;
  height: 25px;
  width: 25px;
}

.tile--sweeped {
  background-color: green;
}

.tile--has-mine {
  background-color: red;
}

.tile--should-have-mine {
  background-color: darkred;
}
